
.BorderPane{
-fx-background-color: #FFFCF7;
}
.chart-series-line{
	-fx-stroke-width: 2.0px;
}

.button {
	-fx-font-weight: bold;
	-fx-background-color: #FFFCF7;
    -fx-border-color: black;
}

.button:hover {
	-fx-background-color: #e6e3de;
	
}
.button:pressed {
	-fx-background-color: #999794;
	-fx-rotate:2.0;
}
#redBox{
	-fx-border-color: red;
}
#greenBox{
	-fx-border-color: green;
}
#yellowBox{
	-fx-border-color: yellow;
}