
.BorderPane{
-fx-background-color: #FFFCF7;
}

.button {
	-fx-background-color: #FFFCF7;
    -fx-border-color: black;
}

.button:hover {
	-fx-background-color: #e6e3de;
}

.button:pressed {
	-fx-background-color: #cccac6;
	-fx-rotate:1;
}